@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Pacifico&display=swap");

/* Variables */
:root {
  /* Fonts */
  --pacifico: "Pacifico", cursive;
  --lato: "Lato", sans-serif;

  /* Colors */
  --green: #10504f;
  --stone: #efefef;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--lato);
  font-size: clamp(1.4rem, 2vw, 2.2rem);
  text-align: center;
}
i {
  font-size: 2.5rem;
}

.logo,
.header-1,
.header-2,
.header-footer {
  font-weight: 400;
  font-family: var(--pacifico);
}
.logo {
  font-size: 3rem;
}
.header-1 {
  font-size: clamp(2.6rem, 5vw, 6rem);
}
.header-2 {
  font-size: clamp(2rem, 5vw, 4rem);
}
.subheader {
  font-size: clamp(1.4rem, 3vw, 2.6rem);
  font-weight: 400;
}
.btn-main {
  color: white;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  padding: 1rem 2rem;
}
.btn-main:hover {
  cursor: pointer;
}
.promo-bar {
  color: white;
  background-color: black;
  padding: 2rem;
  font-size: 1.4rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-inline: 2rem;
  padding-bottom: 0.75rem;
  background-color: var(--green);
  color: white;
}

.btn-menu-mobile {
  background: url(./images/menu-mobile.png) no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 2.8rem;
  height: 2.8rem;
}
.btn-menu-mobile:hover {
  cursor: pointer;
  opacity: 0.75;
}
.logo {
  cursor: pointer;
}
nav {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--green);
  padding: 4rem;
  z-index: 2;
}
nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
nav ul li:hover {
  cursor: pointer;
  opacity: 0.75;
}
.display-menu {
  display: initial;
}
.search-user-cart {
  margin-left: auto;
  display: flex;
  gap: 2rem;
}

.hero-img-mobile {
  width: 100%;
  height: 50vw;
}
.hero-slide-1 {
  background: url("./images/Hero-Image-slide1.png") no-repeat;
  background-size: cover;
  background-position: right;
}
.hero-slide-2 {
  background: url("./images/Hero-Image-slide2.png") no-repeat;
  background-size: cover;
  background-position: right;
}
.hero-slide-3 {
  background: url("./images/Hero-Image-slide3.png") no-repeat;
  background-size: cover;
  background-position: right;
}
.hero-dots {
  position: absolute;
  top: 44vw;
}

.hero-img-2 {
  background: url("./images/Hero-Image-2.png") no-repeat;
  background-size: cover;
  background-position: right;
}
.hero-text-mobile {
  background-color: var(--stone);
  color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-block: 2rem;
}
.hero-text-mobile .btn-main {
  border: none;
  background-color: black;
  margin-top: 1.5rem;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  padding-block: 2rem;
}
.category-womens {
  background: url("./images/Womens-Image.png") no-repeat;
}
.category-mens {
  background: url("./images/Mens-Image.png") no-repeat;
}
.category-womens,
.category-mens {
  background-size: cover;
  width: 44%;
  height: 55vw;
}
.accessories {
  background: url("./images/Accessories-Image.png") no-repeat;
  background-size: cover;
  background-position: left 0% bottom 30%;
  width: 90%;
  height: 55vw;
}
.category-womens,
.category-mens,
.accessories {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.category-womens:hover,
.category-mens:hover,
.accessories:hover {
  cursor: pointer;
}
.categories .header-2 {
  color: white;
  background-color: var(--green);
}
.new-arrivals {
  padding-bottom: 2rem;
}
.new-arrivals .header-1 {
  margin-bottom: 2rem;
}
.product-slider {
  padding-inline: 2rem;
}
.product-slider-item {
  padding: 0;
}
.product {
  width: 80%;
}
.product-img {
  width: 100%;
}
.product-title {
  font-size: clamp(1.6rem, 2vw, 2.2rem);
  font-weight: 400;
}
.product-subtitle {
  font-size: clamp(1.2rem, 1vw, 1.6rem);
  font-weight: 300;
}
.product-price {
  font-family: var(--pacifico);
  color: var(--green);
  font-size: clamp(1.6rem, 2vw, 2.6rem);
}

.signup {
  background-color: var(--green);
  color: white;
  padding: 2rem;
}
.signup p {
  margin-top: 1rem;
}
.signup .btn-main {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  margin-top: 6rem;
}
.signup .header-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.signup .header-2 i {
  font-size: clamp(3rem, 6vw, 6rem);
}
footer {
  padding: 2rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.footer-link-list {
  display: none;
  list-style: none;
  padding-left: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.list-display {
  display: flex;
}
.follow-us ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 2rem;
}
footer ul li {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
}
footer ul li:hover {
  cursor: pointer;
  opacity: 0.75;
}
footer ul li i {
  font-size: 3.5rem;
}
footer button {
  color: white;
  border: none;
  background-color: transparent;
}
footer button:hover {
  cursor: pointer;
  opacity: 0.75;
}
.header-footer {
  font-size: 2.2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media (min-width: 500px) {
}
@media (min-width: 1024px) {
  .hero-dots {
    top: 46vw;
  }
}
