@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap");

/* Variables */
:root {
  /* Fonts */
  --pacifico: "Pacifico", cursive;
  --lato: "Lato", sans-serif;

  /* Colors */
  --green: #10504f;
  --stone: #efefef;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--lato);
  font-size: clamp(1.4rem, 2vw, 2.2rem);
  text-align: center;
}
i {
  font-size: 2.5rem;
}
.logo,
.header-1,
.header-2,
.header-footer {
  font-weight: 400;
  font-family: var(--pacifico);
}
.logo {
  font-size: 3rem;
}
.header-1 {
  font-size: clamp(2.6rem, 5vw, 6rem);
}
.header-2 {
  font-size: clamp(2rem, 5vw, 4rem);
}
.subheader {
  font-size: clamp(1.4rem, 3vw, 2.6rem);
}
.header-footer {
  font-size: 2.2rem;
}
.btn-main {
  border: none;
  color: white;
  background-color: black;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  padding: 1rem 2rem;
}
.btn-main:hover {
  cursor: pointer;
  background-color: var(--green);
}
.promo-bar {
  color: white;
  background-color: black;
  padding: 2rem;
  font-size: 1.4rem;
}
header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-inline: 2rem;
  padding-bottom: 0.75rem;
  background-color: var(--green);
  color: white;
}

.btn-menu-mobile {
  background: url(./images/menu-mobile.png) no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 2.8rem;
  height: 2.8rem;
}

.search-user-cart {
  margin-left: auto;
  display: flex;
  gap: 2rem;
}

.hero {
}
.hero-image-mobile {
  width: 100%;
  height: 50vw;
  background: url("./images/Hero-Image-slide1.png") no-repeat;
  background-size: cover;
  background-position: right;
}
.hero-text-mobile {
  background-color: var(--stone);
  color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding-block: 2rem;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}
.category-womens {
  background: url("./images/Womens-Image.png") no-repeat;
}
.category-mens {
  background: url("./images/Mens-Image.png") no-repeat;
}
.category-womens,
.category-mens {
  background-size: cover;
  width: 44%;
  height: 55vw;
}
.accessories {
  background: url("./images/Accessories-Image.png") no-repeat;
  background-size: cover;
  background-position: left 0% bottom 30%;
  width: 90%;
  height: 55vw;
}
.category-womens,
.category-mens,
.accessories {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.category-womens:hover,
.category-mens:hover,
.accessories:hover {
  cursor: pointer;
}
.categories .header-2 {
  color: white;
  background-color: var(--green);
}

@media (min-width: 500px) {
}
@media (min-width: 1000px) {
}
