@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Pacifico&display=swap");

/* Variables */
:root {
  /* Fonts */
  --pacifico: "Pacifico", cursive;
  --lato: "Lato", sans-serif;

  /* Colors */
  --green: #10504f;
  --stone: #efefef;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--lato);
  font-size: clamp(1.4rem, 2vw, 2.2rem);
  text-align: center;
}
.container {
  max-width: 1500px;
  margin-inline: auto;
  background-color: white;
}
i {
  font-size: 2.5rem;
}

.logo,
.header-1,
.header-2,
.header-footer {
  font-weight: 400;
  font-family: var(--pacifico);
}
.logo {
  font-size: clamp(3rem, 4vw, 5rem);
  cursor: pointer;
}
.header-1 {
  font-size: clamp(2.6rem, 5vw, 6rem);
}
.header-2 {
  font-size: clamp(2rem, 5vw, 4rem);
}
.subheader {
  font-size: clamp(1.4rem, 3vw, 2.6rem);
  font-weight: 400;
}
.btn-main {
  color: white;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  padding: 1.5rem 2rem;
}
.btn-main:hover {
  cursor: pointer;
}
.promo-bar {
  color: white;
  background-color: black;
  padding: 2rem;
  font-size: 1.4rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-inline: 2rem;
  padding-bottom: 0.75rem;
  background-color: var(--green);
  color: white;
}

.btn-menu-mobile {
  background: url(./images/menu-mobile.png) no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 2.8rem;
  height: 2.8rem;
}
.btn-menu-mobile:hover {
  cursor: pointer;
  opacity: 0.75;
}

nav {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--green);
  padding: 4rem;
  z-index: 2;
}
nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: clamp(1.4rem, 2vw, 2rem);
}
nav ul li:hover {
  cursor: pointer;
  opacity: 0.75;
}
.display-menu {
  display: initial;
}
.search-user-cart {
  margin-left: auto;
  display: flex;
  gap: 2rem;
}

.hero-img {
  width: 100%;
  height: 50vw;
}
.hero-slide-1 {
  background: url("./images/Hero-Image-slide1.png") no-repeat;
  background-size: cover;
  background-position: right;
}
.hero-slide-2 {
  background: url("./images/Hero-Image-slide2.png") no-repeat;
  background-size: cover;
  background-position: right;
}
.hero-slide-3 {
  background: url("./images/Hero-Image-slide3.png") no-repeat;
  background-size: cover;
  background-position: right;
}
.hero-dots {
  position: absolute;
  top: 44vw;
}

.hero-img-2 {
  background: url("./images/Hero-Image-2.png") no-repeat;
  background-size: cover;
  background-position: right;
}
.hero-text-mobile,
.hero-text-desktop {
  color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-block: 2rem;
}
.hero-text-mobile {
  background-color: var(--stone);
}
.hero-text-desktop {
  display: none;
}
.hero-text-mobile .btn-main,
.hero-text-desktop .btn-main {
  border: none;
  background-color: black;
  margin-top: 1.5rem;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  padding-block: 2rem;
}
.category-womens {
  background: url("./images/Womens-Image.png") no-repeat;
}
.category-mens {
  background: url("./images/Mens-Image.png") no-repeat;
}
.category-womens,
.category-mens {
  background-size: cover;
  width: 44%;
  height: 55vw;
}
.category-accessories {
  background: url("./images/Accessories-Image.png") no-repeat;
  background-size: cover;
  background-position: left 0% bottom 30%;
  width: 90%;
  height: 55vw;
}
.category-womens,
.category-mens,
.category-accessories {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.category-womens:hover,
.category-mens:hover,
.category-accessories:hover {
  cursor: pointer;
}
.categories .header-2 {
  color: white;
  background-color: var(--green);
}
.new-arrivals {
  padding-bottom: 2rem;
}
.new-arrivals .header-1 {
  margin-bottom: 2rem;
}
.product-slider {
  padding-inline: 2rem;
}
.product-slider-item {
  padding: 0;
}
.product {
  width: 80%;
}
.product:hover {
  cursor: pointer;
}
.product-img {
  width: 100%;
}
.product-title {
  font-size: clamp(1.6rem, 2vw, 2.2rem);
  font-weight: 400;
}
.product-subtitle {
  font-size: clamp(1.2rem, 1vw, 1.6rem);
  font-weight: 300;
}
.product-price {
  font-family: var(--pacifico);
  color: var(--green);
  font-size: clamp(1.6rem, 2vw, 2.6rem);
}

.signup {
  background-color: var(--green);
  color: white;
  padding: 2rem;
}
.signup p {
  margin-top: 1rem;
}
.signup form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.signup form input {
  height: 6vw;
  max-height: 6rem;
  width: 100%;
  max-width: 50rem;
  padding: 2.25rem;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}
.signup .btn-main {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}
.signup .header-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.signup .header-2 i {
  font-size: clamp(3rem, 6vw, 6rem);
}
footer {
  padding: 2rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.footer-link-list {
  display: none;
  list-style: none;
  padding-left: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.list-display {
  display: flex;
}
.follow-us ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 2rem;
}
footer ul li {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
}
footer ul li:hover {
  cursor: pointer;
  opacity: 0.75;
}
footer ul li i {
  font-size: 3.5rem;
}
footer button {
  color: white;
  border: none;
  background-color: transparent;
}
footer button:hover {
  cursor: pointer;
  opacity: 0.75;
}
.header-footer {
  font-size: 2.2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media (min-width: 500px) {
}
@media (min-width: 1024px) {
  header {
    padding: 2rem 3rem;
  }
  nav {
    display: initial;
    position: static;
    width: auto;
    padding: 0;
  }
  nav ul {
    flex-direction: row;
    gap: 6rem;
  }
  .btn-menu-mobile {
    display: none;
  }
  .menu-close {
    display: none;
  }
  .search-user-cart {
    margin: 0;
  }
  .hero-img {
    text-align: left;
    display: flex;
    align-items: center;
    padding: 6rem;
  }
  .hero-slide-2 .hero-text-desktop,
  .hero-slide-3 .hero-text-desktop,
  .hero-img-2 .hero-text-desktop {
    color: white;
  }
  .hero-text-mobile {
    display: none;
  }
  .hero-text-desktop {
    display: initial;
  }
  .hero-dots {
    top: 46vw;
  }
  .categories {
    padding-block: 3vw;
    gap: 1vw;
    flex-wrap: nowrap;
  }
  .category-womens,
  .category-mens,
  .category-accessories {
    width: 31%;
    height: 40vw;
  }
  .hero-img-2 {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .hero-img-2 .btn-main {
    background-color: var(--green);
  }
  .signup {
    padding: 8rem 6rem;
    display: grid;
    grid:
      [row1-start] "signup-header signup-header" [row1-end]
      [row2-start] "signup-p signup-form" [row2-end];
    row-gap: 3rem;
    column-gap: 4rem;
    justify-content: center;
    align-items: center;
  }
  .signup .header-2 {
    grid-area: signup-header;
  }
  .signup p {
    display: inline;
    grid-area: signup-p;
    text-align: left;
  }
  .signup form {
    display: inline-flex;
    width: auto;
    grid-area: signup-form;
    flex-direction: row;
    gap: 1rem;
  }
  .signup form input {
    height: 0;
    width: 30vw;
  }
  footer {
    flex-direction: row;
    gap: 8rem;
    padding: 8rem;
  }
  .footer-link-list {
    display: flex;
  }
  .header-footer button {
    display: none;
  }
  .follow-us {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1300px) {
  .signup form input {
    width: 40vw;
    max-width: 45rem;
  }
}
@media (min-width: 1500px) {
  .hero-img {
    height: 650px;
  }
  .hero-slide-1,
  .hero-slide-2,
  .hero-slide-3,
  .hero-img-2 {
    background-size: 1500px auto;
  }
  .category-womens,
  .category-mens,
  .category-accessories {
    height: 600px;
  }
}
